/* 
Flex content :
https://developer.mozilla.org/fr/docs/Web/CSS/justify-content 

    background-size: 900px 1600px;
    ou              50%  auto;

*/

body {
    /*background-color: rgb(202, 202, 202);*/
    background-image: url("_BlueSpace.png");
    background-position: top left;
    animation: mymove 50s infinite;
}

@keyframes mymove {
    100% {
        background-position: bottom right;
    }
}

.menu {
    margin-left: 15%;
    margin-right: 50px;
    width: 315px;
    float: right;
    border: 4px darkseagreen solid;
    background-color: rgba(0, 0, 54, 0.766);
    color: rgb(224, 223, 223);
}

p.infos_presentation {
    position: relative;
    bottom: 12px;
    left: -5px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px;
}

.infos_presentation {
    color: lightgray;
    font-size: 18px;
    border: grey 2px solid;
    background-color: rgba(0, 0, 54, 0.766);
    /* Permet d'espacer les personnages entre eux (en dessous)*/
    margin-right: 75px;
}

.div_presentation {
    display: inline-block;
    width: 120px;
    height: 120px;
    /*margin: 2px;*/
    border: 4px ridge rgba(206, 65, 9, 0.775);
}

img {
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: center;
    /*border: 1px solid black;*/
}

h3,
h5,
p {
    color: rgb(226, 225, 225);
}

.gold_red {
    color: rgb(214, 85, 10);
}

.underline {
    text-decoration: underline;
}

h4 {
    color: rgb(226, 225, 225);
}

.new_hero {
    color: goldenrod;
    font-weight: bold;
}

.container {
    display: inline-block;
    width: 1120px;
    /* border: solid white 2px; */
    margin-left: 10px;
    padding-left: 20px;
    justify-content: space-around;
}

.container_creation {
    background-color: rgba(15, 3, 23, 0.919);
    background-image: url("_Circle2.png");
    background-size: 125%;
    display: inline-block;
    width: 93%;
    border: ridge darkblue 3px;
    margin-left: 15px;
    padding-left: 25px;
    justify-content: space-around;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 10px;
    padding: 5px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

.slider.round {
    border-radius: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width:600px) {
    /* For mobile phones: */
    img,
    .div_presentation {
        width: 80px;
        height: 80px;
    }
    p.infos_presentation {
        font-size: 12px;
        padding: 8px;
        top: -9px;
    }
    .container {
        padding-left: 10px;
        width: 560px;
    }
    .switch {
        width: 60px;
        margin: 7px;
        padding: 5px;
    }
    .slider.round {
        font-size: 14px;
    }
    h2,
    h3 {
        font-size: 15px;
    }
    .container {
        margin-left: -10px;
    }
    .no_mobile {
        display: none;
    }
}