.root {
    float: right;
    margin-right: 270px;
    background: linear-gradient(to right, rgba(111, 111, 243, 0.61), rgba(236, 133, 236, 0.733));
    font-size: 15px;
}

.container {
    display: inline-block;
    /* margin-right */
}

.container_delivrer {
    display: inline-block;
}

.retirer {
    background-color: rgba(136, 22, 22, 0.685);
}

.non-retirer {
    background-color: rgba(0, 0, 0, 0);
}

#hover-content {
    display: none;
}

#hover-me:hover #hover-content {
    display: block;
}

#transition-hover-content {
    display: inline;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

#transition-hover {
    /* min-width: 115px;
    max-width: 135px;*/
}

#transition-hover:hover #transition-hover-content {
    display: inline;
    opacity: 1;
}

.infos,
.infos_menu {
    border: grey 2px solid;
    background-color: lightgrey;
    margin: -5px;
    /* Permet d'aligner d'avantages de personnages! */
    float: left;
    line-height: 150%;
}

p.infos {
    color: black;
    font-size: 14px;
    position: relative;
    left: 65px;
    bottom: 65px;
}

p.infos_menu {
    color: black;
    font-size: 14px;
    position: relative;
    left: 115px;
    bottom: -10px;
}


/* En déclarant cela dans le "*", j'ai involontairement déclaré une animation dans CHAQUE DIV!
    Autrement dit, chaque div bougeait indépendamment!*/

body {
    /*background-color: rgb(202, 202, 202);*/
    background-image: url("_BlueSpace.png");
    background-position: top left;
    animation: mymove 50s infinite;
    padding-bottom: -40px;
}

@keyframes mymove {
    100% {
        background-position: bottom right;
    }
}

a {
    line-height: 140%;
    font-size: 18px;
}

.red {
    color: red;
}

main {
    display: flex;
    flex-direction: row;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}

.round .spacer {
    flex-grow: 1;
}

.round .spacer:first-child,
.round .spacer:last-child {
    flex-grow: .5;
}

.round .game-spacer {
    flex-grow: 1;
}

.round .demi-spacer:first-child,
.round .demi-spacer:last-child {
    flex-grow: .5;
}

.round .game-demi-spacer {
    flex-grow: 1;
}

li.game {
    padding-left: 20px;
}

li.game.winner {
    font-weight: bold;
}

li.game span {
    /*float: right;*/
    margin-right: 5px;
}

li.game-top {
    border-bottom: 3px solid #aaa;
}

li.game-spacer {
    border-right: 3px solid #aaa;
    min-height: 0px;
}

li.game-bottom {
    border-top: 3px solid #aaa;
}

#div1,
#div2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*margin: 2px;*/
    padding: 5px;
    border: 1px solid grey;
}

#div3 {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*margin: 2px;*/
    padding: 3px;
    border: 4px ridge rgba(186, 53, 0, 0.775);
}

img {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: center;
    /*border: 1px solid black;*/
}

.menu {
    position: fixed;
    text-align: center;
    right: 1%;
    max-width: 260px;
    min-width: 200px;
    float: right;
    border: 4px darkseagreen solid;
    background-color: rgba(0, 0, 54, 0.766);
    color: rgb(224, 223, 223);
}

.menu img {
    display: block;
    width: 75px;
    height: 75px;
    margin-top: 10px;
    border: 1px solid rgb(168, 146, 146);
    border-radius: 100px;
    margin-right: 6px;
}

section img {
    width: 100%;
    height: 100%;
}

.summon {
    border: 4px ridge rgba(160, 96, 0, 0.823);
    margin-left: 100px;
    width: 650px;
    text-align: center;
    vertical-align: center;
    background-image: url("_Circle2.png");
    background-color: rgba(15, 0, 64, 0.721);
    background-size: cover;
    /* auto = taille de base */
}

.summon img {
    width: 140px;
    height: 140px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    /*border: 1px solid black;*/
}

.collapse {
    display: collapse;
}

p,
h4,
h3,
h2,
h1 {
    color: rgb(226, 225, 225);
    margin-bottom: 1px;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

h4 {
    margin-bottom: 4px;
}

h5 {
    margin-top: -5px;
}

.main_button {
    color: darkred;
    float: right;
}


/* Ajout version 2.0 : free.fr (15/07/2021) */

.win {
    background: linear-gradient(to right, rgba(226, 121, 0, 0.61), rgba(255, 187, 0, 0.733));
    font-size: 200%;
    margin-left: 5%;
}

.lose {
    background: linear-gradient(to right, rgba(0, 4, 226, 0.95), rgba(82, 2, 71, 0.973));
    font-size: 200%;
    margin-left: 5%;
}

.liste {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(10, 10, 1, 0.4));
    position: relative;
    margin-right: 250px;
    border: 1px solid rgb(68, 46, 46);
    text-align: center;
    left: -20px;
}

input,
img {
    /* C'est un petit détail mais ça rend l'utilisation plus agréable */
    cursor: pointer;
}

.liste input {
    background: linear-gradient(to right, rgba(226, 34, 0, 0.877), rgba(228, 121, 0, 0.856));
    font-size: 22px;
}

form {
    line-height: 220%;
}

.emplacement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60px;
    margin-top: 0px;
    margin-left: 1%;
    /* On met les emplacements au dessus de la liste*/
    z-index: 5;
}

.emplacement #div3 {
    width: 40px;
    height: 40px;
}

.emplacement img {
    margin-top: -3px;
    margin-left: -3px;
}

.emplacement h3 {
    color: rgb(160, 96, 0);
    text-align: center;
    margin-left: -3px;
    position: relative;
    display: flex;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    width: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width:600px) {
    /* For mobile phones: */
    * .menu {
        display: inline-block;
        position: relative;
        max-width: 100%;
        min-width: 100%;
        right: -1%;
    }
    * {
        font-size: 13px;
    }
    h2,
    h3 {
        font-size: 15px;
    }
    h1 {
        font-size: 25px;
    }
    .slider.round {
        width: 43px;
    }
    .switch {
        height: 15px;
    }
    .slider:before {
        width: 10px;
        height: 10px;
    }
    .no_mobile {
        display: none;
    }
    /* Liste des personnages */
    .liste {
        margin-right: -20px;
    }
    .question {
        position: absolute;
        top: 20%;
        left: 77%;
    }
    /* Autres pages */
    .summon {
        margin-left: 2px;
        width: 95%;
    }
}

.erreur {
    position: fixed;
    top: 1%;
    left: 20%;
    color: wheat;
    font-size: 20px;
    border: 3px darkred solid;
    background-color: rgba(134, 0, 0, 0.753);
}

.manche {
    margin: 0px;
    display: inline;
}

.title {
    position: absolute;
    text-align: center;
    left: 40%;
    top: 7%;
}

ul {
    min-width: 170px;
}